
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .textoAzul {
    color: #22d4fd;
  }
  
  .apresentacao {
    text-align: center;
    margin: 10%;
  }
  
  .apresentacao__conteudo {
    width: 100%;
  }
  
  .apresentacao__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
  }
  
  .apresentacao__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
  }
  
  .img {
    width: 100%;
    height: auto;
  }
  
  .botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  
  .apresentacao__links__subtitulo {
    font-family: krona One, sans-serif;
    font-weight: 400;
    font-size: 24px;
  }
  
  .link__instragram,
  .link__gitHub {
    text-decoration: none;
    border: 3px solid #22d4fd;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    width: 100%;
    padding: 21.5px 0px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
  }
  
  .link__instragram:hover,
  .link__gitHub:hover {
    background-color: #22d4fd;
    color: #000;
  }
  
  .link__in {
    background-color: #0A66C2;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    body {
      flex-direction: row;
    }
  
    .apresentacao {
      margin: 10% 5%;
    }
  
    .apresentacao__conteudo {
      width: 690px;
    }
  
    .img {
      width: 320px;
      height: 320px;
    }
  }

  @media (max-width: 375px) {
    body {
      display: flex;
      flex-direction: column;
    }
  
    .apresentacao {
      margin: 10% 2.5%;
    }
  
    .apresentacao__conteudo {
      width: 100%;
    }
  
    .img {
      width: 100%;
      height: auto;
    }
  
    .botao {
      gap: 16px;
    }
  
    .apresentacao__links__subtitulo {
      font-size: 20px;
    }
  
    .link__instragram,
    .link__gitHub {
      padding: 16px 0;
      font-size: 16px;
    }
  }